body 
{   
    justify-content: flex-end;
    text-align: center;

    background-color: #5B9279;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

img {
    border-radius: 3%;
    }

.header {
    overflow: hidden;
    padding: 10px 3px;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: black;
    padding: 8px;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    border-radius: px;
   
  }
  .header input {
    float: left;
    color: black;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-size: 14px;
    line-height: 15px;
    border-radius: 4px;
    border-left: 8px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 20px;
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active/current link*/
  .header a.active {
    border-right: 2rem;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }

  .header a.tags{
    border-width: 1px;
    text-decoration: none;
  }

  .body .foto {
    background-color: white;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }

  .container .box {
    width:90%;
    margin-left:100px;
    margin-top: 50px;
    display:table;
    margin-bottom: 50px;
  
  
  }
  .container .box .box-row {
    display:table-row;
    height: 200px;
    padding: 100px;
    background-color: white;
  
  }
  .container .box .box-cell{
    display:table-cell;
    padding-top: 25px;
    width: 50%;
    float: left;
  }
  
  .container .box .box-cell img{
    margin-left: 5px;
    margin-right: 5px;
  }

